.content{
    display: grid;
    grid-template-columns: 60% 40%;/* cria dois gradientes */
    grid-template-rows: 11.4rem 1fr;/* cria mais dois */

    grid-template-areas: 
    'header header'/* definir a pocisão dos gardientes neste caso ambos na parte de cima*/
    'left right';/* definir a pocisão dos gardientes neste um pra esquerda o outro pra direita*/
}
header{
    grid-area: header;
}
#bg{
    grid-area: left;
    background: url('/assets/home-bg-img.svg') no-repeat top/contain;
    background-position-x: -10rem;
}
main {
    grid-area: right;

    display: flex;
    align-items: center;
    /* margin-top: -12rem; */
}
main .container{
    width: min(36.3rem, 100%);/* respeitar o tamanho da tela se caso for inferior ao valor minimo ocupa 100% da tela */

}
main h2{
    font-family: 'Poppins', sans-serif;
    color: var(--black);
    font-size: clamp(20px, 5vw, 2.8rem);/*fixa um valor entre um limite superior e inferior. permite selecionar um valor intermediário dentro de um intervalo de valores entre um mínimo e um máximo definidos.*/
    margin-bottom: 2.4rem;
}

input{
    border: .2rem solid var(--gray-blue);
    padding: 0 1.6rem;
    outline: none;
}
input, button, .button{
    width: 100%;
    margin-bottom: 1.8rem;
}
.content header{
    width: 80%;
    margin: 3.5rem auto;
}
.content header img{
    width: 16.7rem;
}
.separator{
    display: flex;
    align-items: center;
    margin: 4rem 0;
}
.separator div:nth-child(2){
    color: var(--gray-blue);
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    padding: 0 1.35rem;
    line-height: 0;

}
.separator div:nth-child(1),
.separator div:nth-child(3){
    background: var(--gray-blue);
    width: 100%;
    height: 2px;

}

/* -----creat balls------ */
.ball{
    width: 21.2rem;
    height: 21.2rem;

    background: var(--blue);
    position: fixed;
    clip-path: circle();
    opacity: 0.1;
}
.ball.top{
 width: 63.3rem;
 height: 63.3rem; 
 top: -46rem;
 right: -35rem;
}
.ball.botton{
    bottom: -15rem;
    right: 5.6rem;

}